* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #fff;
}

a:hover {
  outline: none;
  text-decoration: none;
}

